// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

agm-map {
  height: 150px;
}

.fn-secondary {
  color: #455A64
}

.fn-inline {
  display: inline-block
}

.fn-inline-center {
  display: inline-block;
  vertical-align: middle;
}

.fn-back-to-line {
  white-space: normal;
}

.fn-no-content-text {
  font-size: large !important;
  font-weight: 100 !important;
  text-align: center;
  white-space: normal !important;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.fn-no-content-image {
  width: 128px;
  padding: 15px;
  margin: auto;
  display: block;
}

.fn-card-text {
  padding-top: 10px;
  color: #000000;
  white-space: normal
}

.fn-card-title {
  white-space: normal !important;
  font-weight: bold !important;
  font-size: medium !important;
  color: #212121;
}

.fn-menu {
  background-color: #455A64;
  color: #ffffff;
}

.fn-menu-icon-green {
  color: #4CAF50;
}

.fn-menu-icon-red {
  color: #f44336;
}

.fn-menu-profile {
  padding-top: 25px;
  padding-bottom: 25px;
}

.fn-menu-profile-picture {
  border-radius: 100%;
  width: 70px;
}

.fn-menu-profile-text {
  padding-left: 20px;
}

.fn-menu-profile-name {
  font-size: 20px;
  font-weight: 100;
  display: inline-block;
  vertical-align: middle;
}

.fn-menu-profile-name-sub-info {
  font-size: 12px;
}

.fn-menu-elem-space {
  display: inline-block;
  text-align: center;
  width: 50px;
  padding: 8px 0;
}

.fn-menu-elem-space-s {
  display: inline-block;
  text-align: center;
}

.fn-menu-elem {
  padding-left: 5px;
}

.fn-modal-title {
  font-weight: 100;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  white-space: normal;
}

.fn-modal-header {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 10px;
}

.fn-modal-content {
  width: 96%;
  height: 96%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.fn-div-content-center {
  padding: 15px;
  margin: auto;
  text-align: center;
}
