<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Attendees
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="attendees">
  <ion-card id="user">
    <ion-list id="profile">
      <ion-item>
        <p style="font-size: large; font-weight: 400; font-style: italic; white-space: normal">
          Next friday night: <span style="font-weight: bolder;">{{info.date || '...'}}</span>
        </p>
      </ion-item>
      <ion-item color="none" id="avatar">
        <ion-avatar item-left>
          <img [src]="user.profile_picture_url || 'assets/images/user.png'"/>
        </ion-avatar>
        <h2>
          {{user.first_name || 'You'}} {{user.last_name}}
        </h2>
      </ion-item>
      <ion-item id="attendance">
        <ion-label style="white-space: normal">
          Are you coming friday?
        </ion-label>
        <ion-toggle (ngModelChange)="updateAttendance()"
                    [(ngModel)]="user.next_event_attendance_status"
                    [disabled]="info.is_past"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card id="attendee-list-card">
    <ion-list>
      <ion-item id="attendee-list-title">
        <div id="attendee-list-title-conainter" class="show-list-numbers-and-dots">
          <p style="margin-top:0; color:#000000; white-space: normal">
            See who is coming this friday!
          </p>
        </div>
      </ion-item>


      <div *ngIf="attendees_is_loaded; else not_loaded">
        <div *ngIf="attendees && attendees.length > 0; else no_content">
          <attendee id="attendee-list" *ngFor="let attendee of attendees" [attendee]="attendee"></attendee>
        </div>
        <ng-template #no_content>
          <ion-item>
            <p style="font-size: large; font-weight: 100; text-align: center; white-space: normal">
              Be the first to let us know you are coming! We love you!
              <img style="width: 128px; padding: 15px; margin: auto" src="assets/images/nobody_registered.png"/>
            </p>
          </ion-item>
        </ng-template>
      </div>

      <ng-template #not_loaded>
        <div style="margin: auto; padding-top: 50px; padding-bottom: 120px; width: 50px">
          <ion-spinner style="display: block; margin: auto" name="crescent"></ion-spinner>
        </div>
      </ng-template>

    </ion-list>
  </ion-card>
</ion-content>
