page-seats {

  .fn-align-right {
    position: absolute;
    right: 5px;
  }

  .toolbar-background {
    background-color: #455A64;
  }

  .fn-item-input {
  }

  .fn-modal-header-box-title {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
  }
}
